uvicorn
fastapi
google-generativeai
python-dotenv
pymongo
transformers==4.40.1
spacy==3.7.4
reportlab
bcrypt
authlib[httpx]
httpx          # add this explicitly too, to be safe
torch
itsdangerous

# Add this explicitly to avoid wheel build failure
blis==0.7.11

# Optional but safe
numpy==1.26.4
