# Core Framework
fastapi
uvicorn
starlette

# MongoDB & Environment
pymongo
python-dotenv

# Authentication
authlib[httpx]
httpx
bcrypt
python-jose
PyJWT
itsdangerous

# ML & NLP
transformers==4.40.1
torch
spacy==3.7.4
blis==0.7.11

# Google AI
google-generativeai

# PDF Reports
reportlab

# Utilities
jinja2
numpy==1.26.4
python-multipart
